<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SimatSoft.FixAsset.Properties.Settings.simatassetConnectionString"
            connectionString="Data Source=MOBILEME\EXPRESS;Initial Catalog=simatasset;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>